@import 'tailwindcss';

@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white;
    margin: 0;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

#app {
  min-height: 100vh;
}